/* ==========================
   Global Styles
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f7fb;
    color: #333;
    line-height: 1.6;
}

/* ==========================
        Header
========================== */

header {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

header nav a:hover {
    color: #38bdf8;
}

/* ==========================
   Main Container
========================== */

main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

section,
aside {
    background: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

h2 {
    color: #2563eb;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}